@tailwind base;
@tailwind components;
@tailwind utilities;

body,html {
  font-family: "Poppins", serif;
  width: 100%;
  height: 100%;
  @apply bg-[#fafcfd] dark:bg-slate-950/[.97]
}

.font-round {
  font-family: "Dosis", serif;
}

*{-webkit-tap-highlight-color: rgba(0,0,0,0);outline:none;transitionu: all 0.1s ease-in-out;scroll-behavior: smooth;}

*::-webkit-scrollbar{@apply w-1 sm:w-1.5}
*::-webkit-scrollbar-thumb{@apply bg-black/10 dark:bg-slate-800}

.cp { cursor: pointer }

@layer utilities {
  /* Backgrounds global styles */
  .bg-surface {
    @apply bg-[#fafcfd] dark:bg-slate-950/[.97]
  }
  .bg-flat {
    @apply bg-white dark:bg-slate-950
  }
  .bg-pri-300 {
    @apply bg-sky-300
  }
  .bg-pri-400 {
    @apply bg-sky-400
  }
  .bg-pri-500 {
    @apply bg-sky-500
  }
  .bg-pri-600 {
    @apply bg-sky-600
  }
  
  
  /* Texts global styles */
  .text-flat {
    @apply text-white
  }
  .text-300 {
    @apply text-slate-300
  }
  .text-400 {
    @apply text-slate-400 dark:text-white/50
  }
  .text-500 {
    @apply text-slate-500 dark:text-white/75
  }
  .text-600 {
    @apply text-slate-600 dark:text-white/90
  }
  
  .text-pri-300 {
    @apply text-sky-300
  }
  .text-pri-400 {
    @apply text-sky-400
  }
  .text-pri-500 {
    @apply text-sky-500
  }
  .text-pri-600 {
    @apply text-sky-600
  }
  
  /* Misc global styles */
  .bdr {
    @apply border-slate-200/70 dark:border-slate-900
  }
  
  .custom-btn {
    @apply flex items-center font-semibold px-3 py-1 rounded-md
  }
}

.center {
  @apply flex items-center justify-center
}

.side-columns {
  @apply shrink-0 flex flex-col w-[20%] h-full text-600 p-3
}

.forums-list-head {
  @apply flex items-center font-semibold font-round
}
.forums-list-head svg {
  @apply mr-1
}

form label {
  @apply text-sm font-round font-semibold text-600
}

form input {
  @apply mt-1 flex h-8 w-full rounded-md border bdr bg-flat px-3 py-2 text-sm text-600 file:border-0 file:bg-transparent file:text-600 file:text-sm file:font-medium placeholder:text-slate-400 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-sky-400 disabled:cursor-not-allowed disabled:opacity-50 dark:placeholder:text-slate-400/70
}